<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940134103332-46jj400alm5rj6i3kp7fbokhf89vsb4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940134103332-46jj400alm5rj6i3kp7fbokhf89vsb4n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>940134103332-nn6lc8nqc0nn8ifjnupecvshnamkp0at.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA657gNYWK23nCvNyNPQP8IjdV9UKS43kA</string>
	<key>GCM_SENDER_ID</key>
	<string>940134103332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kasamotta</string>
	<key>PROJECT_ID</key>
	<string>kasamotta</string>
	<key>STORAGE_BUCKET</key>
	<string>kasamotta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940134103332:ios:d6e23c2e8e55a6a6cd1bb1</string>
</dict>
</plist>